doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Айсылу Ахметзянова | личный сайт
        link(rel='stylesheet' href='style.css')
    body 
        .wrapper
            header.header
                .container
                    a(href='#').logo Айсылу Ахметзянова
                    nav.nav
                        a(href='#').nav__link обо мне
                        a(href='#').nav__link контакты
                        a(href='#').nav__link отзывы
                        a(href='#').nav__link услуги
                    a(href='#').button-1 записаться на приём
            button.burger-button
                div 
                div 
                div 
            .burger-menu__wrapper
                .burger-menu
                    .container
                        .logo Айсылу Ахметзянова
                        nav.nav.burger-menu__nav
                            a(href='#').nav__link обо мне
                            a(href='#').nav__link контакты
                            a(href='#').nav__link отзывы
                            a(href='#').nav__link услуги
                        a(href='#').button-1 записаться на приём
            section.main-section
                .container
                    div
                        div(style='background-image: url("/img/my-photo.jpg")').main-section__photo
                    .main-section__info
                        h1 Ваш психолог Айсылу Ахметзянова
                        .socials
                            a(href='').socials__link
                                img(src='img/icons/instagram.png')
                            a(href='').socials__link
                                img(src='img/icons/VK.png')
                            a(href='').socials__link
                                img(src='img/icons/whatsapp.png')
                        p Меня зовут Ахметзянова Айсылу, я практический психолог, гештальт-консультант, педагог-психолог, Арт-терапевт, мак коуч, игропрактик. Помогу вам разобраться со своими эмоциями, познакомиться с самим собой. Провожу психологические трансформационные игры, по желанию клиента, использую в своей работе метафорические ассоциативные карты.
                        a(href='#').button-1 записаться на приём
            section.my-work-section
                .container
                    h2 С чем я работаю
                    .my-work-section__content
                        .my-work-section__point
                            div(style="background-image: url('img/img1.jpg')")
                            | Низкая самооценка
                        .my-work-section__point
                            div(style="background-image: url('img/img2.jpg')")
                            | Неуверенность в себе
                        .my-work-section__point
                            div(style="background-image: url('img/img3.jpg')")
                            | Подавленное депрессивное состояние
                        .my-work-section__point
                            div(style="background-image: url('img/img4.jpg')")
                            | Помогу найти ресурсы внутри себя 
                    .my-work-section__background
            section.about-section
                .container
                    .about-section__top
                        ul.about-section__info
                            li <img src='img/icons/check.svg'> 5 лет опыта работы
                            li <img src='img/icons/check.svg'> регулярная личная терапия
                            li <img src='img/icons/check.svg'> участие в интервизиях с коллегами
                            li <img src='img/icons/check.svg'> регулярная супервизия
                        p Основной принцип гештальт-терапии — рассмотрение человека как целостного субъекта: гештальт консультант наблюдает его мысли, эмоции, чувства и физические ощущения как взаимосвязанные между собой элементы
                        a(href='#').button-1.button-1--shadow записаться на конультацию
                    div(style="background-image: url('img/my-photo-2.jpg')").about-section__img
            section.nuances-section
                .container
                    h2 Важные нюансы о моей работе
                    .nuances-section__list
                        .nuances-element 
                            img(src='img/icons/icon-1.png').nuances-element__icon
                            h3.nuances-element__title Конфиденциальность и этика психолога
                            p.nuances-element__text Всё, о чем говорят в моём кабинете, остаётся только между нами. Данная информация не подлежит разглашению третьим лицам. 
                        .nuances-element 
                            img(src='img/icons/icon-2.png').nuances-element__icon
                            h3.nuances-element__title О принятии
                            p.nuances-element__text Я не разделяю людей на плохих и хороших, правильных или не правильных. Все мы являемся тем, кем являемся. Мы такие, какие есть, потому что, у нас разный багаж за спиной, восприятие и выработанные модели поведения. Поэтому вы всегда будете услышаны и приняты
                        .nuances-element 
                            img(src='img/icons/icon-3.png').nuances-element__icon
                            h3.nuances-element__title Всё под вашим контролем
                            p.nuances-element__text Вы в любой момент можете остановить работу. Вы можете сказать стоп, если будет тяжело или глубоко. Вы можете регулировать интенсивность, силу и объем курсов так, как это подходит вам.
                        .nuances-element 
                            img(src='img/icons/icon-4.png').nuances-element__icon
                            h3.nuances-element__title Про зависимость от психолога
                            p.nuances-element__text Важно, чтобы наша работа была завершена, чтобы клиент по прошествии времени смог самостоятельно развиваться дальше без помощи психолога.
            section.games-section
                .container
                    .games-section__top
                        img(src='img/cards_image.png').games-section__img
                        .games-section__about
                            h2 Что такое трансформационная игра?
                            p Психологические трансформационные игры — это такой инструмент самопознания и благоприятных изменений, где участника не учат, как сделать правильно, а где сам участник игры понимает, что ему делать, исходя из своего прожитого опыта, смотря через фильтр тех методик, которые заложены в игре. Ведь что такое трансформация – это переход в новую форму, а психология – это наука о трансформации психики. Меняем мышление, меняются эмоции и чувства, меняется реакции в теле и поведение
                    .games-section__games
                        .game-card
                            .game-card__wrapper
                                div(style='background-image: url("img/game-1_img.jpg")').game-card__image
                                h3 Игра в «Тени моей тени»
                                p Игра в «Тени моей тени» - это психологическая игра-самопознание. Она направлена на исследование своих скрытых ресурсов, потенциалов, не проявленных идей, качеств, чувств и т.д. Даёт возможность встретиться с собой разным, пролить Свет на Тень, найти ресурс
                            a(href='').button-1 узнать больше
                        .game-card
                            .game-card__wrapper
                                div(style='background-image: url("img/game-2_img.jpg")').game-card__image
                                h3 Игра «Синдром самозванца»
                                p Синдром самозванца – это, прежде всего, состояние, когда человек не может присваивать свои достижения себе, своим качествам, способностям и усилиям. Все успехи, которые у них есть, они объясняют удачей и счастливым стечением обстоятельств. Цель игры - проработать синдром самозванца с помощью эффективной игровой методики для трансформации внутренних страхов, сомнений, ограничивающих убеждений, неуверенности в себе, чтобы ощутить свою ценность для достижения успеха.
                            a(href='').button-1 узнать больше
            section.services-section
                .container
                    h2 Услуги
                    .services-section__services
                        .service-card 
                            .service-card__wrapper
                                div(style="background-image:url('img/services-img-1.jpg')").service-card__image
                                h3 Очная консультация
                                p Очная консультация это встреча в уютном оф лайн пространстве, которая будет длиться в течение 50 мин
                            .service-card__price 2 000 руб.
                            a(href='#').button-1 записаться
                        .service-card 
                            .service-card__wrapper
                                div(style="background-image:url('img/services-img-2.jpg')").service-card__image
                                h3 Онлайн консультация
                                p Онлайн  консультация может проходить на платформе зум или по видеосвязи WhatsApp с подключением к платформе Метафорика или Макпрактик, важно иметь помимо телефона еще и ноутбук, чтобы пройти по ссылке на платформу с МАК. Длится в течение 50 мин
                            .service-card__price 2 000 руб.
                            a(href='#').button-1 записаться
                        .service-card 
                            .service-card__wrapper
                                div(style="background-image:url('img/game-1_img.jpg')").service-card__image
                                h3 Игра в «Тени моей тени»
                                p Игра в тени моей тени будет  проходить в Zoom, она проводится с помощью онлайн презентации, с демонстрацией экрана, в игре могут принимать участие от 2 до 5 человек, длиться она будет от 2 до 4 часов, в зависимости от количества участников
                            .service-card__price 1 500 руб.
                            a(href='#').button-1 записаться
                        .service-card 
                            .service-card__wrapper
                                div(style="background-image:url('img/game-2_img.jpg')").service-card__image
                                h3 Игра «Синдром самозванца»
                                p Игра синдром самозванца проходит онлайн и офлайн формате в уютном психологическом пространстве, количество участников от 2 до 5 человек. Длительность от 2 до 4 часов, в зависимости от количества участников
                            .service-card__price 1 500 руб.
                            a(href='#').button-1 записаться
                        .service-card
                            h3 Хотите что-то уточнить? 
                            p вы можете задать мне вопрос удобным для Вас способом:
                            .socials
                                a(href='').socials__link
                                    img(src='img/icons/instagram.png')
                                a(href='').socials__link
                                    img(src='img/icons/VK.png')
                                a(href='').socials__link
                                    img(src='img/icons/whatsapp.png')
            section.education-section
                .container
                    .education-section__top
                        h2 Моё образование
                        p Завершено обучение на 1 и 2 степени Московского гештальт института (МГИ), в рамках обучение пройдена специализация Арт-терапия в гештальт-подходе, слушаются курсы Психиатрия для психологов.
                        img(src='img/mgi.png').education-section__image
                    .slider-1
                        //invisible content elements. JS gets it form there
                        .slider-1__contents
                            .slider-1__current-slide 0
                            .slider-1__images-urls
                                div img/slider1/1.jpg
                                div img/slider1/2.JPG
                                div img/slider1/3.JPG
                                div img/slider1/4.JPG
                                div img/slider1/5.JPG

                            .slider-1__text-contents
                                div диплом о профессиональной переподготовке
                                div Интеграционная арт-терапия
                                div конференция МГИ
                                div сертификат 1 ступени МГИ
                                div теория и практика гештальт-терапии
                                div III конференция регионов Поволжья
                                div Self в ситуации и развитие интерсубъективности
                        .slider-1__layout
                            .slider-1__bg-buttons
                                .slider-1__bg-button-1 
                                .slider-1__bg-button-2 
                            .slider-1__images
                                //previous
                                div(style="background-image: url()").adaptive-image.slider-1__image-0
                                    img(src='')
                                //left
                                div(style="background-image: url()").adaptive-image.slider-1__image-1
                                    img(src='')
                                //center
                                div(style="background-image: url()").adaptive-image.slider-1__image-2
                                    img(src='')
                                //right
                                div(style="background-image: url()").adaptive-image.slider-1__image-3
                                    img(src='')
                                //next
                                div(style="background-image: url()").adaptive-image.slider-1__image-4
                                    img(src='')
                            .slider-1__buttons
                                button.slider-1__button-1 
                                    img(src='img/icons/arrow.svg')
                                button.slider-1__button-2
                                    img(src='img/icons/arrow.svg')
                            .slider-1__text some text

            section.diplomes-section
                .container
                    h2  Мои дипломы
                    .slider-2
                        .slider-2__images
                            a(href="img/slider2/1.JPG" data-lightbox="slider2" style='background-image: url("img/slider2/1.JPG")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/1.JPG')
                            a(href="img/slider2/2.JPG" data-lightbox="slider2" style='background-image: url("img/slider2/2.JPG")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/2.JPG')
                            a(href="img/slider2/3.JPG" data-lightbox="slider2" style='background-image: url("img/slider2/3.JPG")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/3.JPG')
                            a(href="img/slider2/4.png" data-lightbox="slider2" style='background-image: url("img/slider2/4.png")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/4.png')
                            a(href="img/slider2/5.png" data-lightbox="slider2" style='background-image: url("img/slider2/5.png")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/5.png')
                            a(href="img/slider2/6.jpg" data-lightbox="slider2" style='background-image: url("img/slider2/6.jpg")').adaptive-image
                                img(src='img/icons/full-size-icon.svg').adaptive-image__full-size
                                img(src='img/slider2/6.jpg')
                    p 
                        | Я закончила очную переподготовку на базе высшего образования в институте усовершенствования Инсайт по программе Практическая психология (500 часов), также закончила переподготовку и получила диплом о присвоении квалификации Педагог-психолог
                        | (530 часов), закончила  и получила диплом о профессиональной переподготовке в московском институте дополнительного образования НЦРДО по программе Гештальт-терапия в практике психолога ( 510 часов). Закончила курсы по повышению квалификации и получила удостоверение о её повышении по программе Психологическое консультирование с применением игротерапии и метафорических карт в индивидуальном и групповом формате от Евразийской академии современного образования (96 часов).
                         
            section.reviews-section
                .container
                    .reviews-section__top
                        h2 Отзывы клиентов
                        p Для меня имеет большое значение, чтобы мои клиенты оставались довольны. Поэтому для меня важно ваше мнение о проделанной работе
                    .slider-3
                        .slider-3__images
                            div(style='background-image: url("img/slider3/1.jpg")').slider-3__image 
                                div
                            div(style='background-image: url("img/slider3/2.jpg")').slider-3__image.slider-3__image--current
                                div
                            div(style='background-image: url("img/slider3/3.jpg")').slider-3__image
                                div
                        .slider-3__arrows
                            div
                                img(src='img/icons/arrow.svg')
                                img(src='img/icons/arrow.svg')
            section.appointment-section
                .container
                    .appointment-section__top
                        h2 Как записаться на приём?
                        p Я принимаю очно и онлайн. Если Вас заинтересовали мои услуги, Вы можете написать мне удобным для Вас способом:
                    .contacts.apppointment-section__contacts
                        a(href='').contacts__link
                            img(src='img/icons/whatsapp.png')
                            | <b>+7 919 646-70-14</b>  |   звонки и WhatsApp
                        a(href='').contacts__link
                            img(src='img/icons/VK.png')
                            | <b>@aisam</b>  |   я в ВК
                        a(href='').contacts__link
                            img(src='img/icons/instagram.png')
                            | <b>@aislu</b>  |   я в Instagram
        footer.footer
            .container
                .logo Айсылу Ахметзянова <span>   |   личный сайт</span>
                .footer__bottom
                    nav.nav
                        a(href='#').nav__link обо мне
                        a(href='#').nav__link контакты
                        a(href='#').nav__link отзывы
                        a(href='#').nav__link услуги
                    .footer__contacts
                        span я в соцсетях
                        .socials
                            a(href='').socials__link
                                img(src='img/icons/instagram.png')
                            a(href='').socials__link
                                img(src='img/icons/VK.png')
                            a(href='').socials__link
                                img(src='img/icons/whatsapp.png')
            script(src='script.js')
            
                    
