.adaptive-image {
    overflow: hidden;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    img {
        border-radius: 10px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);
    }
    &__full-size{
        background-color: rgba(0,0,0,0) !important;
        z-index: 3;
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 20px;
        max-height: 20px;
        border-radius: 0 !important;
    }
}