.button-1{
    display: inline-block;
    color: #FFF;
    background: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding: 9px 14px;
    border-radius: 10px;
    transition: .3s;
    border: 3px solid black;
    text-align: center;
    &--shadow{
        box-shadow: 10px 10px 0px 0px #F1D9E6;
        &:hover{
            box-shadow: 0px 0px 0px 0px #F1D9E6;
        }
    }
    &:hover{
        background-color: white;
        color: black;
    }
}