.header{
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    transition: 1s;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav, .button-1{
        display: none;
        @media screen and (min-width: $break-point-3) {
            display: block;
        }
    }
    .nav{
        font-size: 16px;
        font-weight: 400;
        * + *{
            display: inline-block;
            margin-left: 20px;
        }
    }
}    
.burger-button{
    position: fixed;
    top: 32px;
    right: 25px;
    z-index: 21;
    @media screen and (min-width: $break-point-3){
        display: none;
    }
}