.services-section{
    &__services{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
        @media screen and (min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
.service-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3{
        font-size: 25px;
        margin: 0;
    }
    & > *{
        margin: 0;
    }
    &__price{
        font-weight: 600;
        font-size: 20px;
    }
    &__image{
        background-size: cover;
        padding-top: 73%;
        border-radius: 10px;
    }
    &__wrapper{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    // & + &{
    //     margin-top: 40px;
    // }
}